:root {
  --blue: hsl(216, 90%, 62%);
  --green: hsl(136, 90%, 62%);
  --yellow: hsl(56, 90%, 62%);
  --background: rgb(252, 252, 252);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background-color: var(--background); */
}

.backingContainer {
}

#headingStripe {
  background-color: var(--blue);
  width: 100vw;
  padding-bottom: 20px;
}
#navigationStripe {
  background-color: var(--green);
  width: 100vw;
  padding-bottom: 20px;
}
#bodyBackground {
  background-color: var(--yellow);
  width: 100vw;
}
#footingStripe {
  background-color: var(--green);
  width: 100vw;
  padding-top: 20px;
}

.centeredContent {
  padding-left: 20vw;
  padding-right: 20vw;
  padding-bottom: 2vw;
  max-width: 90vw;
  min-width: 60vw;
  margin: 0 auto;
}

header {
  text-align: center;

  /* offset-x | offset-y | blur-radius | color */
  text-shadow: 0px 0px 4px #fff;
  background-color: var(--blue);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
  /* padding-left: 20vw;
  padding-right: 20vw; */
}

/* headshot element positioning */
.headshot {
  align-content: center;
  /* object-position: 50% 50%; */
  display: float;
  width: 50px;
  border: 5px solid var(--blue);
  position: absolute;
  top: 67px;
  left: calc(50vw - 25px);
}

/* Basic Font Stlyezation */
.headingFont {
  font-family: sans-serif;
}

header h1,
h2 {
  background-color: var(--blue);
}

.writingFont {
  font-family: serif;
}

/* Section Container settings */
#navigationBar {
  background-color: var(--green);
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.navigationItem {
  background-color: inherit;
  flex: 1;
  text-shadow: 0px 0px 4px #ffffff;
}

.navigationItem {
  background-color: inherit;
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
}

.resume {
  white-space: nowrap;
  padding-left: 4px;
}

/* unvisited link */
.navigationItem:link {
  color: #000000;
  text-decoration: none black;
}

/* visited link */
.navigationItem:visited {
  color: #000000;
}

/* mouse over link */
.navigationItem:hover {
  color: #000;
}

/* selected link */
.navigationItem:active {
  color: #000;
}

.ToDo {
  font-style: bold;
}

article {
  background-color: var(--background);
  /* margin: default;
  padding: default; */
}

p {
  padding-top: 10px;
}
li {
  padding-top: 3px;
}

h3 {
  padding-top: 12px;
}

ul,
ol {
  list-style-position: inside;
}
li {
  margin-left: 12px;
}
