:root {
  --blue: hsl(216, 71%, 56%);
  --green: hsl(136, 71%, 56%);
  --yellow: hsl(56, 71%, 56%);
  --background: hsl(0, 0%, 90%);
  --headingFont: sans-serif;
  --writingFont: serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: var(--background);
}

.centeringContainer {
  width: 800px;
  margin: 0 auto;
}

header {
  text-align: center;
  position: relative;
  /* offset-x | offset-y | blur-radius | color */
  text-shadow: 0px 0px 4px #fff;
  background-color: var(--blue);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
}

/* headshot element positioning */
.headshot {
  align-content: center;
  /* object-position: 50% 50%; */
  display: float;
  width: 50px;
  border: 5px solid var(--blue);
  position: absolute;
  top: 67px;
  left: 375px;
}

/* Basic Font Stlyezation */
.headingFont {
  font-family: sans-serif;
}

header h1,
h2 {
  background-color: var(--blue);
}

.writingFont {
  font-family: serif;
}

.buttonFont {
  font-family: sans-serif;
}

/* Section Container settings */
#navigationBar {
  background-color: var(--green);
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.navigationItem {
  background-color: inherit;
  flex: 1;
}

.navigationItem {
  background-color: inherit;
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
}

.leftOfPic {
  justify-self: flex-start;
}

.rightOfPic {
  justify-self: flex-end;
}

.ToDo {
  font-style: bold;
}

/* Hyperlink settings */
/* a:link {
  color: #160066;
  text-decoration: underline wavy black;
}
a:hover {
  color: #02bec4;
}
a:visited {
  color: #5b0b63;
} */
